body {
	font-family: "Montserrat", sans-serif;
}

#container {
	text-align: center;
	padding: 50px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #414042;
	box-shadow: 1px 1px 7px rgba(128,128,128,0.31);
	width: 80%;
	max-width: 600px;
}

#main-heading {
	font-size: 36px;
	font-weight: bold;
}

.description {
	font-size: 14px;

}

.heading {
	font-size: 18px;
	font-weight: bold;
}

.header-image {
	max-height: 125px;
}

.schedule {
	font-size: 14px;
}

.name {
	font-weight: bolder;
	color: #0dd8da;
}